<!DOCTYPE html>
<html lang="en" ng-app="greetingsApp">
<head>
    <meta charset="UTF-8">
    <title>Greetings</title>
    <script type="application/javascript" src="webjars/angularjs/1.5.8/angular.min.js"></script>
</head>
<body>
<div ng-controller="GreetingsController as greetings">
    <label>Name:</label>
    <input type="text" ng-model="greetings.name" placeholder="Enter a name here">
    <input type="button" value="Say hello" ng-click="greetings.sayHello()" />
    <hr>
    <h1>Hello {{greetings.name}}!</h1>
    <h1 id="message">{{greetings.message}}!</h1>
</div>

<script type="application/javascript">
    angular.module('greetingsApp', [])
        .controller('GreetingsController', function($http) {
            console.log("test");
            var greetings = this;
            greetings.sayHello = function() {
                console.log("say hello to " + greetings.name);
                $http({
                    url: "/greetings",
                    method: "GET",
                    params: {name: greetings.name}
                }).success(function(data) {
                    console.log(data);
                    greetings.message = data;
                });
            };
        });
</script>
</body>
</html>